<div class="flex items-end justify-center content-end" >

    <%= form_with model: @bitcoin, class:"flex items-end justify-center content-end h-36 pb-2 "  do |form| %>
      <div class="flex items-center ">
      <%= form.text_field :block, class:"appearance-none bg-white border border-rose-200 rounded w-full text-gray-700 mr-3 w-96 py-2 px-2 leading-tight focus:outline-none", placeholder:"link goes here" %>
      
      <%= form.submit "Add",class:"flex-shrink-0 bg-rose-400 hover:bg-rose-700 border-rose-400 hover:border-rose-700 text-sm border-4 text-white py-1 px-2 rounded" %>
      
      </div>
    <% end %> 
    <%# <%= link_to "Index", root_path %> 
</div> 